@let board = game.board(); @let boardSize = board.length; @let hunterData = hunter(); @let isAlive =
hunterData.alive; @let hasWon = hunterData.hasWon; @let settings = game.settings();

<main [appVisualEffect]="game.message()">
  <app-title [blackout]="settings?.blackout || false" />

  @if(settings?.blackout && isAlive && !hasWon){
  <app-blackout />
  }
  <section class="board">
    @if (settings.size) { @for (row of board; track $index; let rowIndex = $index) {
    <div class="row">
      @for (cell of row; track $index) {

      <app-game-cell
        [class.escape]="!rowIndex && $first && hunterData.hasGold"
        class="size-{{ boardSize }}"
        [cell]="cell"
        [hunter]="hunterData"
        [settings]="settings"
      />
      }
    </div>
    }
    <app-wumpus-attack-animation *ngIf="deathByWumpus()" (closeAnimation)="handleclose()" />
    } @else {
    <app-game-config />
    }
  </section>

  @if (settings.size) {
  <section class="player-info">
    <app-game-level [settings]="settings"></app-game-level>
    <app-game-lives [lives]="hunterData.lives"></app-game-lives>
  </section>
  }

  <app-game-message
    [message]="game.message()"
    [isAlive]="hunterData.alive"
    [hasWon]="hasWon"
    [settings]="settings"
    [lives]="hunterData.lives"
  />

  @if (settings.size) {
  <app-mobile-controls [isFinish]="hasWon || !isAlive" />
  }
</main>
