@use 'sass:math';

main {
  min-height: 100vh;
}

.row {
  display: flex;
}

.board {
  display: flex;
  flex-direction: column;
  aspect-ratio: 1 / 1;
  border: 3px solid #333;
  width: fit-content;
  min-width: calc(min(95vw, 550px));
  margin: 0 auto;
  justify-content: center;
  align-items: center;
  background-color: darkgrey;
}

app-game-config {
  background-color: darkgrey;
}

@for $i from 4 through 20 {
  app-game-cell.size-#{$i} {
    --cellsize: max(20px, calc(min(95vw, 550px) / #{$i}));
  }
}

app-title{ z-index: 10; position: relative;}
