@use 'sass:math';

main {
  @apply min-h-screen bg-cover bg-center;
  background-image: url('/scenarios/9.png');
}

.row {
  @apply flex;
}

.board {
  @apply flex flex-col aspect-square border-[3px] border-[#333] w-fit mx-auto justify-center items-center bg-[#f3f4f6];
  min-width: calc(min(95vw, 550px));
}

@for $i from 4 through 20 {
  app-game-cell.size-#{$i} {
    --cellsize: max(20px, calc(min(95vw, 550px) / #{$i}));
  }
}

app-title {
  @apply z-10 relative;
}

.player-info {
  @apply flex justify-center gap-4 mt-[0.2rem];
}

.escape {
  --exit-color: var(--color-text);
}
