@let board = game.board();
@let boardSize = board.length;
@let hunterData = hunter();
@let isAlive = hunterData.alive;
@let hasWon = hunterData.hasWon;
@let settings = game.settings;

<main [appVisualEffect]="game.message()">

  <app-menu>
    @if (settings) {
      <app-game-controls [arrows]="hunter().arrows"/>
    }
  </app-menu>

  <app-title [blackout]="settings?.blackout || false"/>

  @if(settings?.blackout && isAlive && !hasWon){
    <app-blackout />
  }

  <section class="board">
    @if (settings) {
      @for (row of board; track $index) {
        <div class="row">
          @for (cell of row; track $index) {
            <app-game-cell class="size-{{boardSize}}"  [cell]="cell" [hunter]="hunterData"/>
          }
        </div>
      }
      <app-wumpus-attack-animation *ngIf="deathByWumpus()" (closeAnimation)="handleclose()"/>
    } @else {
      <app-game-config />
    }
  </section>

  <app-game-message 
    [message]="game.message()" 
    [isAlive]="hunterData.alive"
    [hasWon]="hasWon"
    [settings]="settings">
  </app-game-message>
  @if (settings) {
    <app-mobile-controls [isFinish]="hasWon || !isAlive"/>
  }

</main>


