.story-page {
  @apply h-screen flex justify-center items-center text-text-secondary text-center p-4 bg-cover;
  animation: fadeIn 1.5s ease forwards;
  background-image: url('/scenarios/4.jpg');
}
.story-container {
  @apply max-w-[650px] w-[95vw] bg-black/80 py-8 px-12 shadow-[0_0_30px_theme(colors.panel)] cursor-pointer;
  animation: slideUp 1.5s ease forwards;
}
.chapter {
  @apply text-primary font-[900] uppercase mb-[1.6em] tracking-[0.3em] break-all;
  font-size: clamp(1rem, 2vw, 2rem);
}
.title {
  @apply text-yellow font-bold mb-[1em];
  font-size: clamp(0.8rem, 2vw, 1.5rem);
}
.text {
  @apply leading-[1.5] mb-[3.5em] italic max-w-[650px] text-left;
  font-size: clamp(0.6rem, 2vw, 1rem);
}
.effect {
  @apply mb-[2em] text-[#ffdd55] font-semibold;
  font-size: clamp(0.6rem, 2vw, 0.9rem);
  animation: fadeIn 1.5s ease forwards;
}
.instruction {
  @apply text-[0.8rem] opacity-70 not-italic;
  animation: fadeIn 1.5s ease forwards;
}
@keyframes fadeIn {
  from {
    @apply opacity-0;
  }
  to {
    @apply opacity-100;
  }
}
@keyframes slideUp {
  from {
    @apply translate-y-[30px] opacity-0;
  }
  to {
    @apply translate-y-0 opacity-100;
  }
}
