<main class="story-page">
  <section
    class="story-container"
    (click)="goToGame()"
    (keydown.enter)="goToGame()"
    (keydown.space)="goToGame()"
    tabindex="0"
  >
    <h1 class="chapter">{{ 'storyPage.chapterPrefix' | transloco }}{{ story?.level }}</h1>
    <h2 class="title">{{ story?.title }}</h2>
    <p class="text">{{ displayedText() }}</p>

    @if(showExtraInfo()){
    <p *ngIf="story?.effect" class="effect">
      {{ 'storyPage.effectPrefix' | transloco }}{{ formatEffect(story!.effect) }}
    </p>

    <p class="instruction">{{ 'storyPage.clickToStartInstruction' | transloco }}</p>
    }
  </section>
</main>
