@let chars = gameStore.hunter().chars;

<form [formGroup]="configForm" (ngSubmit)="submitForm()" class="config-form">
  <h2>{{ 'config.title' | transloco }}</h2>

  <div class="form-group">
    <label for="player">{{ 'config.playerNameLabel' | transloco }}</label>
    <input id="player" type="text" formControlName="player" />
  </div>

  <div class="form-group">
    <label for="difficulty">{{ 'config.difficultyLabel' | transloco }}</label>
    <select id="difficulty" formControlName="difficulty">
      <option value="easy">{{ 'config.difficultyEasy' | transloco }}</option>
      <option value="normal">{{ 'config.difficultyNormal' | transloco }}</option>
      <option value="hard">{{ 'config.difficultyHard' | transloco }}</option>
    </select>
  </div>


  @let options = configs[this.configForm.get('difficulty')?.value];

  <div class="difficulty-description">
    <p>{{ 'config.difficultyDescription' | transloco: {
      maxLives: options.maxLives,
      maxLevels: options.maxLevels,
      chance: options.maxChance * 100
      } }}</p>
  </div>

  <div *ngIf="isDevMode" class="form-group">
    <label for="size">{{ 'config.levelLabel' | transloco }}</label>
    <input id="size" type="number" formControlName="size" min="1" max="20" />
  </div>

  <div class="form-group">
    <label for="selectedChar">{{ 'config.selectCharacterLabel' | transloco }}</label>
  </div>
  <div class="char-selector">
    @for(char of chars; track $index) {
    <img
      [ngSrc]="$index === 0 ? `chars/${char}/bow.svg` : `chars/${char}/bow.png`"
      [alt]="char"
      draggable="false"
      width="60"
      height="80"
      [class.active]="configForm.get('selectedChar')?.value === char"
      [class.grayscale]="configForm.get('selectedChar')?.value !== char"
      (click)="selectChar(char)"
      (keydown)="selectChar(char)"
      tabindex="0"
      role="button"
    />
    }
  </div>

  <button type="submit" [disabled]="configForm.invalid" class="start-game">{{ 'config.playButton' | transloco }}</button>
</form>
