@let chars = gameStore.hunter().chars;

<form [formGroup]="configForm" (ngSubmit)="submitForm()" class="config-form">
  <h2>Configuración</h2>

  <div class="form-group">
    <label for="player">Nombre del jugador:</label>
    <input id="player" type="text" formControlName="player" />
  </div>

  <div class="form-group">
    <label for="difficulty">Dificultad:</label>
    <select id="difficulty" formControlName="difficulty">
      <option value="easy">Fasilito</option>
      <option value="normal">Ni xixa ni limoná</option>
      <option value="hard">Autonomo</option>
    </select>
  </div>

  <div class="difficulty-description">
    <p>{{ difficultyDescription }}</p>
  </div>

  <div *ngIf="isDevMode" class="form-group">
    <label for="size">Nivel (max 20):</label>
    <input id="size" type="number" formControlName="size" min="1" max="20" />
  </div>

  <div class="form-group">
    <label for="selectedChar">Seleciona personaje:</label>
  </div>
  <div class="char-selector">
    @for(char of chars; track $index) {
    <img
      [ngSrc]="$index === 0 ? `chars/${char}/bow.svg` : `chars/${char}/bow.png`"
      [alt]="char"
      draggable="false"
      width="60"
      height="80"
      [class.active]="configForm.get('selectedChar')?.value === char"
      [class.grayscale]="configForm.get('selectedChar')?.value !== char"
      (click)="selectChar(char)"
      (keydown)="selectChar(char)"
      tabindex="0"
    />
    }
  </div>

  <button type="submit" [disabled]="configForm.invalid" class="start-game">Jugar</button>
</form>
