.game-message {
  text-align: center;
  font-size: large;
  margin-bottom: 1.5rem;
  color: var(--color-primary);
}

.newgame {
  background: none;
  animation: blink 3s step-start infinite;
  color: var(--color-primary);
  font-size: 1.4rem;
  text-align: center;
  margin-top: 20px;
  text-shadow: 0 0 1px #00ffea;
  cursor: pointer;
  font-family: 'Press Start 2P', monospace;
}

@keyframes blink {
  20% {
    opacity: 0;
  }
}

@media (max-width: 1024px) {
  .game-message {
    font-size: medium;
  }
}
