@let _settings = settings();

@if(_settings){
  <div class="level">Nivel {{ _settings.size - 4 + 1}}</div>
}
<section class="game-message" aria-live="polite">
      @if(message() && _settings){
        <p>{{ message() }}</p>
      }@else{
        <p>Activa el sonido, recoge la moneda y vuelve al inicio.</p>
      }
      @if(!isAlive() && _settings){
        <button 
          class="newgame" 
          (click)="restartGame()" 
          aria-label="Reiniciar el juego"
        >
          Haz click para intertarlo de nuevo
        </button>
      }@else if (hasWon() && _settings) {
        <button 
          class="newgame" 
          (click)="nextLevel()" 
          aria-label="Nuevo nivel"
        >
          @if(_settings.size < 20){
            <span>Felicidades click para empezar el siguiente nivel.</span>
          } @else {
            FELICIDADES!! Has completado todos los niveles!
          }
        </button>
      }
</section>
