.game-message{
  text-align: center;
  font-size: x-large;
  margin-bottom: 1.5rem;
  color: #00ff5e;
}

.newgame {
  animation: blink 1s step-start infinite;
  color: #00ffea;
  font-size: 16px;
  text-align: center;
  margin-top: 20px;
  text-shadow: 0 0 5px #00ffea;
}

@keyframes blink {
  50% {
    opacity: 0;
  }
}