.game-message {
  @apply text-center text-lg mb-6 text-primary;
}

.newgame {
  @apply bg-none text-primary text-[1.4rem] text-center mt-5 cursor-pointer font-game;
  animation: blink 3s step-start infinite;
  text-shadow: 0 0 1px #00ffea;
}

@keyframes blink {
  20% {
    opacity: 0;
  }
}

@media (max-width: 1024px) {
  .game-message {
    @apply text-base;
  }
}
