<section class="game-message" aria-live="polite">
  @if(lives() <= 0){
  <p>GAME OVER! te quedaste sin vidas #haberestudiao</p>
  <button class="newgame" (click)="newGame()" aria-label="Nueva partida">
    Empezar una nueva partida
  </button>
  }@else{ @if (_hasMessage()) {
  <p>{{ message() }}</p>
  }@else {
  <p>Activa el sonido, recoge la moneda y vuelve al inicio.</p>
  } @if (_shouldShowRetry()) {
  <button class="newgame" (click)="restartGame()" aria-label="Reiniciar el juego">
    Haz click para intertarlo de nuevo
  </button>
  } @else if (_shouldShowNextLevel()) { @if (_showCongrats()) {
  <button class="newgame" (click)="nextLevel()" aria-label="Nuevo nivel">
    Felicidades click para empezar el siguiente nivel.
  </button>
  }@else {
  <button class="newgame" aria-label="Nuevo nivel" (click)="goToBoss()">
    FELICIDADES!! Has completado todos los niveles, has click para reclamar tu recompensa.
  </button>
  } } }
</section>
