@let level = _level();

@if (level) {
  <div class="level">Nivel {{ level }}</div>
}

<section class="game-message" aria-live="polite">

  @if (_hasMessage()) {
    <p>{{ message() }}</p>
  }@else {
    <p>Activa el sonido, recoge la moneda y vuelve al inicio.</p>
  }

  @if (_shouldShowRetry()) {
    <button
      class="newgame"
      (click)="restartGame()"
      aria-label="Reiniciar el juego"
    >
      Haz click para intertarlo de nuevo
    </button>
  } @else if (_shouldShowNextLevel()) {
    <button
      class="newgame"
      (click)="nextLevel()"
      aria-label="Nuevo nivel"
    >
      @if (_showCongrats()) {
        <span>Felicidades click para empezar el siguiente nivel.</span>
      } @else {
        <span>FELICIDADES!! Has completado todos los niveles!</span>
      }
    </button>
  }
</section>
