:host {
  display: contents;
}

.lantern {
  position: relative;
  z-index: 6;
  filter: drop-shadow(0 0 10px rgb(255 255 0 / 80%));
}

.shield {
  border: 2px solid rgb(0 255 255 / 50%);
  border-radius: 50%;
}

.gold {
  position: absolute;
  top: 5px;
  right: 5px;
  z-index: 2;
}
