.prizes {
  @apply text-center grid place-content-center h-screen relative;
  &::before {
    @apply content-[''] absolute inset-0 bg-cover bg-center blur-[5px] z-0;
    background-image: url('/scenarios/2.gif');
  }
  p {
    @apply text-primary my-16 relative z-[2] font-game;
    text-shadow: 1px 1px 8px black;
    font-size: clamp(1rem, 2vw, 2.5rem);
  }

  button {
    @apply font-game relative z-[2] mb-8 p-6 bg-button;
    &:hover {
      @apply bg-button-hover;
    }
  }
}
.character-container {
  @apply flex gap-[30px] justify-center items-center my-16 flex-wrap pb-8;
}

@media (max-width: 400px) {
  .character {
    @apply flex-[0_0_45%] mb-5;
  }
}

.character {
  @apply cursor-pointer grayscale transition-[filter,box-shadow] duration-500 rounded-[10px] p-[5px] text-center w-[120px] select-none;
  text-shadow: 1px 1px 8px black;
  img {
    @apply w-full rounded-[10px] pointer-events-none;
    filter: drop-shadow(0 0 8px rgba(0, 0, 0, 0.8));
  }

  &:hover:not(.owned) {
    @apply grayscale-0 shadow-[0_0_15px_5px_rgba(255,215,0,0.7)];
  }

  &.selected {
    @apply grayscale-0 shadow-[0_0_20px_6px_rgba(255,215,0,0.9)];
    .char-name {
      @apply text-white;
    }
  }

  &.owned {
    @apply grayscale-0;
    .char-name {
      @apply text-white;
    }
  }

  .char-name {
    @apply mt-2 font-bold capitalize text-[#333];
  }
}
