@let onwedChars = gameStore.unlockedChars();

<section class="prizes">
  <p class="title">{{ 'characters.selectYourPrize' | transloco }}</p>

  <div class="character-container">
    @for(char of chars; track $index) {
    <div
      class="character"
      [class.selected]="char === selectedChar()"
      [class.owned]="onwedChars?.includes(char)"
      (click)="onwedChars?.includes(char) ? null : selectedChar.set(char)"
      (keyup)="onwedChars?.includes(char) ? null : selectedChar.set(char)"
      tabindex="0"
    >
      <img
        [ngSrc]="$index === 0 ? `chars/${char}/bow.svg` : `chars/${char}/bow.png`"
        [alt]="char"
        draggable="false"
        width="120"
        height="180"
        priority
      />
      <div class="char-name">{{ 'charName.' + char | transloco }}</div>
    </div>
    }
  </div>

  <button [disabled]="!selectedChar()" (click)="onClick()">
    {{ 'characters.confirmCharacterButton' | transloco }}
  </button>
</section>
