@let selected = this.gameStore.char();
<div class="overlay">
  <div class="animation step-{{ step() }}">
    <div
      class="player"
      [style.left]="getPlayerLeft()"
      [style.opacity]="step() < 5 ? 1 : 0.3"
      [style.transform]="'translateY(-50%)' + (step() >= 4 ? ' rotate(15deg)' : '')"
    >
      @if(selected === 'default'){
      <img [src]="'chars/' + selected + '/bow.svg'" alt="bow" />
      }@else{
      <img [src]="'chars/' + selected + '/bow.png'" alt="char" />
      }
    </div>

    <div class="wumpus" [style.transform]="'translateY(-50%) scale(' + getWumpusScale() + ')'">
      @if(selected === 'default'){
      <img [src]="'chars/' + selected + '/wumpus.svg'" alt="bow" />
      }@else{
      <img [src]="'chars/' + selected + '/wumpus.png'" alt="char" width="140" height="280" />
      }
    </div>

    <!-- Sangre -->
    <ng-container *ngIf="step() >= 4">
      <div class="blood" style="left: 40%; top: 30%"></div>
      <div class="blood" style="left: 60%; top: 40%"></div>
      <div class="blood" style="left: 30%; top: 60%"></div>
    </ng-container>
  </div>

  <div class="message">¡EL WUMPUS TE HA DEVORADO!</div>
</div>
