<div class="filter-group">
  <button
    type="button"
    (click)="setFilter('all')"
    class="filter-btn all"
    [class.active]="currentFilter() === 'all'"
  >
    {{ 'achievements.filterAll' | transloco }}
  </button>
  <button
    type="button"
    (click)="setFilter('unlocked')"
    class="filter-btn unlocked"
    [class.active]="currentFilter() === 'unlocked'"
  >
    {{ 'achievements.filterUnlocked' | transloco }}
  </button>
  <button
    type="button"
    (click)="setFilter('locked')"
    class="filter-btn locked"
    [class.active]="currentFilter() === 'locked'"
  >
    {{ 'achievements.filterLocked' | transloco }}
  </button>
</div>
