@let board = game.board();
@let boardSize = board.length;

<section class="board">
  @for (row of board; track $index; let rowIndex = $index) {
    <div class="row">
      @for (cell of row; track $index) {
        <app-game-cell
          [class.escape]="!rowIndex && $first && game.hasGold()"
          class="size-{{ boardSize }}"
          [cell]="cell"
        />
      }
    </div>
  }

  @if (game.isEatenByWumpus()) {
    <app-wumpus-attack-animation (closeAnimation)="handleClose()" />
  }
</section>
