<lib-menu (newGameRequested)="handleNewGame()">
  @if (game.size() && game.isAlive()) {
    <lib-game-controls
      [soundEnabled]="game.soundEnabled()"
      (newGameRequested)="handleNewGame()"
      (navigateToControlsRequested)="handleNavigateToControls()"
      (moveForwardRequested)="handleMoveForward()"
      (turnLeftRequested)="handleTurnLeft()"
      (turnRightRequested)="handleTurnRight()"
      (shootArrowRequested)="handleShootArrow()"
      (resetGameRequested)="handleRestart()"
      (toggleSoundRequested)="handleToggleSound()"
    />
  }
</lib-menu>

<router-outlet></router-outlet>

<lib-toast [achievement]="achieve.completed()" />
