<lib-menu (newGameRequested)="gameEngine.newGame()">
  @if (game.size() && game.isAlive()) {
    <lib-game-controls
      [soundEnabled]="game.soundEnabled()"
      (newGameRequested)="gameEngine.newGame()"
      (navigateToControlsRequested)="router.navigate([RouteTypes.RULES])"
      (moveForwardRequested)="gameEngine.moveForward()"
      (turnLeftRequested)="gameEngine.turnLeft()"
      (turnRightRequested)="gameEngine.turnRight()"
      (shootArrowRequested)="gameEngine.shootArrow()"
      (resetGameRequested)="gameEngine.initGame()"
      (toggleSoundRequested)="game.toggleSound()"
    />
  }
</lib-menu>

<router-outlet></router-outlet>

@if (isRouteLoading()) {
  <div class="route-loader">
    <div class="loader-text">{{ 'loading.data' | transloco }}</div>
    <div class="loader-bar-container">
      <div class="loader-bar"></div>
    </div>
  </div>
}

@defer (on timer(1000ms)) {
  <lib-toast [achievement]="achieve.completed()" />
}
