<section class="boss-container" aria-labelledby="bossTitle">
  <h2 id="bossTitle">{{ 'bossFight.title' | transloco }}</h2>

  <div class="grid" role="grid" [attr.aria-label]="'bossFight.boardAriaLabel' | transloco">
    <div *ngFor="let row of grid; let rowIndex = index" class="row">
      <div
        *ngFor="let cell of row; let colIndex = index"
        class="cell"
        tabindex="0"
        [attr.aria-label]="getAriaLabel(cell, rowIndex, colIndex)"
        (click)="attackCell(cell)"
        (keydown.enter)="attackCell(cell)"
        (keydown.space)="attackCell(cell)"
        [class.hit]="cell.hit"
        [class.boss-hit]="cell.hit && cell.hasBossPart"
        [class.miss]="cell.hit && !cell.hasBossPart"
      >
        <span *ngIf="cell.hit && cell.hasBossPart" aria-hidden="true">
          @let char = _settings().selectedChar;
          <img
            [ngSrc]="`chars/${char}/boss.png`"
            alt="{{ 'bossFight.bossImageAlt' | transloco }}"
            fill
          />
        </span>
        <span *ngIf="cell.hit && !cell.hasBossPart" aria-hidden="true">❌</span>
      </div>
    </div>
  </div>

  <div class="status-bar">
    <div class="leyenda">
      <span aria-live="polite">{{
        'bossFight.attemptsLeft' | transloco : { playerLives: playerLives }
      }}</span>
      <span aria-live="polite">{{
        'bossFight.bossHealth' | transloco : { bossRemaining: bossRemaining }
      }}</span>
    </div>

    <p aria-live="polite" class="game-message">{{ message }}</p>

    <button
      *ngIf="gameOver && bossRemaining"
      (click)="retryGame()"
      [attr.aria-label]="'bossFight.retryGameAriaLabel' | transloco"
    >
      {{ 'bossFight.continuesButton' | transloco : { livesLeft: this._hunter().lives } }}
    </button>
    @if(gameOver && !bossRemaining){
    <button
      [attr.aria-label]="'bossFight.nextButtonAriaLabel' | transloco"
      class="next-btn"
      (click)="goToprizeScreen()"
    >
      {{ 'bossFight.youWonButton' | transloco }}
    </button>
    }
  </div>
</section>
