.cell {
  @apply flex-1 aspect-square border border-[#ccc] box-border flex items-center justify-center relative;
  height: var(--cellsize, 30px);
  background-color: rgba(55, 65, 81, 0.8);

  &.hunter {
    @apply bg-[#f8f8f8];
    animation: fadeFog 1s ease-out forwards;
  }

  &.visited {
    background-color: var(--exit-color, #f8f8f8);
  }

  .gold {
    @apply absolute top-1 right-1;
  }
}

@keyframes fadeFog {
  from {
    background-color: rgba(55, 65, 81, 0.8);
  }
  to {
    @apply bg-[#f8f8f8];
  }
}

.rotation-0 {
  @apply rotate-0;
}
.rotation-90 {
  @apply rotate-90;
}
.rotation-180 {
  @apply -scale-x-100;
}
.rotation-270 {
  @apply rotate-[270deg];
}

.lantern {
  @apply z-[9] rounded-full;
  box-shadow: 0 0 12px 4px rgba(255, 255, 0, 0.8);
}

.shieldx {
  @apply rounded-full;
  box-shadow: 0 0 12px 4px rgba(0, 200, 255, 0.8);
}
