@let hasHunter = isHunterCell(cell())(); @let _hunter = hunter(); @let hasGold = _hunter.hasGold;
@let isAlive = _hunter.alive; @let content = cell().content; @let size = settings().size;

<div class="cell" [class.visited]="cell().visited" [class.hunter]="hasHunter">
  @if ((!isAlive || _hunter.hasWon || showItems || cell().visited || content?.alt === 'secret') &&
  content) {
  <img [ngSrc]="content.image" [alt]="content.alt" fill />
  } @else if(hasHunter && isAlive){
  <img
    [class.lantern]="hasLantern()"
    [class.shield]="hasShield()"
    [ngSrc]="bowImage()"
    [attr.alt]="hasGold ? ('cell.altHunterWithGold' | transloco) : ('cell.altHunter' | transloco)"
    [style.transform]="rotation() !== 180 ? 'rotate(' + rotation() + 'deg)' : 'scaleX(-1)'"
    priority
    fill
  />

  @if(hasGold && size < 12){
  <img
    class="gold"
    ngSrc="boardicons/gold.svg"
    alt="{{ 'cell.altGold' | transloco }}"
    [width]="20 - size / 2"
    [height]="20 - size / 2"
  />
  } } @else if (content && content.image === 'question.png') {
  <img [ngSrc]="content.image" [alt]="content.alt" fill />
  }
</div>
