@let hasHunter = isHunterCell(cell())(); @let _hunter = hunter(); @let hasGold = _hunter.hasGold;
@let isAlive = _hunter.alive; @let content = cell().content;

<div class="cell" [class.visited]="cell().visited" [class.hunter]="hasHunter">
  @if ((!isAlive || _hunter.hasWon) && content) {
  <img [ngSrc]="content.image" [alt]="content.alt" fill />
  } @else if(hasHunter && isAlive){
  <img
    [ngSrc]="bowImage()"
    [attr.alt]="hasGold ? 'hunter with gold' : 'hunter'"
    [style.transform]="'rotate(' + rotation() + 'deg)'"
    priority
    fill
  />
  } @else if (content && content.image === 'question.png') {
  <img [ngSrc]="content.image" [alt]="content.alt" fill />
  }
</div>
