
<button 
  class="trophy-icon" 
  (click)="toggleLeaderboard()" 
  aria-label="Mostrar tabla de clasificación"
>
  <img src="leaderboard.svg" alt="" aria-hidden="true" />
</button>


<aside class="scoreboard" [class.show]="isLeaderboardVisible()">
  <button
    class="close-btn"
    (click)="toggleLeaderboard()"
    aria-label="Cerrar leaderboard"
  >
    &times;
  </button>
  <div class="title">Leaderboard</div>

  
  @if(leaderboard().length){
    <table>
      <tbody>
        <tr *ngFor="let entry of leaderboard() | slice:0:10">
          <td>{{ entry.playerName }}</td>
          <td>{{ entry.timeInSeconds }} segundos</td>
          <td>{{ entry.date | date:'dd/MM/yy' }}</td>
        </tr>
      </tbody>
    </table>
  } @else {
    <span>Sin ganadores aún</span>
  }

</aside>
