.diary {
  padding: 1rem;
  max-width: 900px;
  margin: 0 auto;
  color: var(--color-text-secondary);
  background-color: var(--color-panel);
  border-radius: 8px;
}
h2 {
  text-align: center;
  margin-bottom: 1rem;
  color: var(--color-text);
}
article {
  margin-bottom: 1.5rem;
  border-bottom: 1px solid var(--color-border);
  padding-bottom: 1rem;
  line-height: 1.5lh;
}
small {
  color: #999;
}
