@let opened = isOpen();

<button class="menu-toggle" [class.open]="opened" (click)="toggleMenu()">
  <div [ngClass]="{ bar: true, bar1: true, open: opened }"></div>
  <div [ngClass]="{ bar: true, bar2: true, open: opened }"></div>
  <div [ngClass]="{ bar: true, bar3: true, open: opened }"></div>
</button>

<div class="mobile-menu" *ngIf="opened">
  <ul>
    <li><button>&nbsp;</button></li>
    <li><button (click)="nagivateTo(ROUTES.HOME)">{{ 'menu.home' | transloco }}</button></li>
    <li><button (click)="nagivateTo(ROUTES.ACHIEVEMENTS)">{{ 'menu.achievements' | transloco }}</button></li>
    <li><button (click)="nagivateTo(ROUTES.RULES)">{{ 'menu.instructions' | transloco }}</button></li>
    <li><button (click)="newGame()" class="newgame">{{ 'menu.newGame' | transloco }}</button></li>
  </ul>
</div>

<div class="menu-desktop">
  <div class="left-icons">
    <img class="achivements" [routerLink]="ROUTES.ACHIEVEMENTS" src="trophy.svg" alt="{{ 'menu.achievementsAlt' | transloco }}" />
  </div>
  <div class="right-icon">
    <ng-content></ng-content>
  </div>
</div>
