@let opened = isOpen();

<button class="menu-toggle" [class.open]="opened" (click)="toggleMenu()">
  <div class="bar bar1" [class.open]="opened"></div>
  <div class="bar bar2" [class.open]="opened"></div>
  <div class="bar bar3" [class.open]="opened"></div>
</button>

@if (opened) {
  <div class="mobile-menu nes-container is-dark">
    <ul class="nes-list is-disc">
      <li>
        <button class="nes-btn is-primary" (click)="nagivateTo(ROUTES.HOME)">{{ 'menu.home' | transloco }}</button>
      </li>
      <li>
        <button class="nes-btn is-primary" (click)="nagivateTo(ROUTES.ACHIEVEMENTS)">
          {{ 'menu.achievements' | transloco }}
        </button>
      </li>
      <li>
        <button class="nes-btn is-primary" (click)="nagivateTo(ROUTES.RULES)">{{ 'menu.instructions' | transloco }}</button>
      </li>
      <li>
        <button class="nes-btn is-primary" (click)="nagivateTo(ROUTES.CREDITS)">{{ 'menu.credits' | transloco }}</button>
      </li>
      <li>
        <button (click)="newGame()" class="newgame nes-btn is-error">{{ 'menu.newGame' | transloco }}</button>
      </li>
    </ul>
  </div>
}

<div class="menu-desktop">
  <div class="left-icons">
    <img
      class="achivements"
      [routerLink]="ROUTES.ACHIEVEMENTS"
      src="trophy.svg"
      alt="{{ 'menu.achievementsAlt' | transloco }}"
    />
  </div>
  <div class="right-icon">
    <ng-content></ng-content>
  </div>
</div>
