name: CI, Coverage & Deploy

on:
  push:
    branches:
      - master
  pull_request:
    types: [opened, synchronize, reopened]

permissions:
  actions: read
  contents: write  # Necesario para subir a gh-pages

jobs:
  build-test-deploy:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0  # Necesario para SonarCloud

      - uses: actions/setup-node@v4
        with:
          node-version: 20
          cache: 'npm'

      - run: npm ci --legacy-peer-deps

      - name: Validate commit messages
        run: |
          npm install --no-save @commitlint/{cli,config-conventional}
          npx commitlint --from=HEAD~10 --to=HEAD --verbose
        continue-on-error: true


      - run: npx cypress install

      # ✅ Lint y test con coverage
      - name: Lint and Test with Coverage
        run: |
          npx nx run-many -t lint
          npx nx test hunt-the-bishomalo --coverage --coverageReporters=lcov

      # ✅ Build Angular App
      - name: Build App
        run: npx nx build hunt-the-bishomalo --configuration=production

      # ✅ SonarCloud Scan
      - name: SonarCloud Scan
        uses: SonarSource/sonarqube-scan-action@v6
        env:
          SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
      
      # ✅ Auto-versioning with standard-version changelog
      - name: Create Release with standard-version
        id: versioning
        run: |
          git config user.name "github-actions[bot]"
          git config user.email "github-actions[bot]@users.noreply.github.com"

          git pull origin master --rebase

          npm install --no-save standard-version

          npx standard-version --commit-all --no-verify

          git push origin master --follow-tags
          echo "new_tag=$(git describe --tags --abbrev=0)" >> $GITHUB_OUTPUT


      # ✅ Publicar GitHub Release
      - name: Create GitHub Release
        uses: softprops/action-gh-release@v2
        with:
          tag_name: ${{ steps.versioning.outputs.new_tag }}
          generate_release_notes: true
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
